@charset "UTF-8";
/* Style the tab buttons */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color:#2393DE; 
	font-family: Georgia;
	text-align: center;
	color:black;
	font-weight: bold;
}

li {
	float:left;
	color:black;
	position: relative;
}

li a {
	display:block;
	color:black;
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
}


li a:hover {
	background-color:#C4E2F6;  
	color:#911F07;
	font-weight:900;
}

.active{
	background-color:#D1C1B5;
}















.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style for each tab background colour content individually */ 
#London {background-color:#36a899;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}



