@charset "UTF-8";


/* Just Added ...still on progress */           		  /* Sharad Mainaly */

/*This is my main header */


#myheader {							/* Sharad Mainaly */

  background-color: orange;
  color: black;
  padding: 10px;
  text-align: center;
  border-style:inset;
  margin-top:0px;
}
/* Source: https://css-tricks.com/text-blocks-over-image/ */

  

.image1 { 							/*Sharad Mainaly */
   position: relative; 
   width: 1150px;
   height: 500px;
   display:block;
   margin-left: Auto;
}
/* Source: https://css-tricks.com/text-blocks-over-image/ */

h2 { 								/*Sharad Mainaly */
   position: absolute; 
   top: 200px; 
   margin-left: 5px; 
   width: 50%; 
}
h2 span{ 
   color: white; 
   font: bold 32px/50px Helvetica, Sans-Serif; 
   line-height:1.9;
   letter-spacing: 2px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   margin-left:1px;
 
}

/* Source: https://3.7designs.co/blog/2008/06/10-examples-of-beautiful-css-typography-and-how-they-did-it/ */
/* Text floating on the left size of image */  			/*Sharad Mainaly */
.tryagain {
     font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
     font-weight: normal;
     font-size: 1.95em;
     letter-spacing: .2em;
     line-height: 1.1em;
     margin:0px;
     text-align: center;
     text-transform: uppercase;

}
/* Source: https://alistapart.com/article/css-shapes-101/ */
/*This is my heading 2 */					/* Sharad Mainaly */
.tryagain2 {
    	width: 50%;
    	height: 300px;
    	float: right;
	border: none;
	padding: 5px, 10px,20px;
	margin:10px;
	background-color: white;
	color: black;
	text-align:justify;
	shape-outside: inset(5px round 100px) border-box;
	font-size:20px;

	
}


h3 {								/* Sharad mainaly */
	font-family: Arial, Helvetica, sans-serif;
	background: rgb(0, 0, 0, 0.7);
	font-size: 30px;
	color:white;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

/* My image */
.image2 {								/* Rebecca Sherwin/ Sharad Mainaly */
	width:400px;
	height:300px;
	margin-right: 10px;
	float:left;
	
}

.enviroment{
	font-family: Arial, Helvetica, sans-serif;
	background-color:white;
	text-align: left;
	float:left;
	color:black;
	width:45%;
	text-align:justify;
	font-size:20px;
}
	

h4 {								/* Sharad mainaly */
	font-family: Arial, Helvetica, sans-serif;
	background-color:white;
	font-size: 20px;
	color:white;
	float:left;
	margin: 10px;
	padding: 10px;
	text-align: center;
	font-weight:bold;
	padding: 10px;
	background: rgb(0, 0, 0, 0.7);
	
}


.navbar {						/*Rebecca Sherwin*/	
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-image: linear-gradient(260deg, #91b3c0 0%, #c9bfe0 100%); 
	font-family:Verdana;
	text-align: center;
	color:black;
	font-weight: bold;
}

li {						/*Rebecca Sherwin*/	
	text-align: center;
	color:black;
	position: relative;

}

li a {						/*Rebecca Sherwin*/	
	display:block;
	color:black;
	text-align: center;
	text-decoration: none;
	padding: 20px 30px;
}


li a:hover {					/*Rebecca Sherwin*/	
	background-color:#C4E2F6;  
	color:black;
	font-weight:900;
}


.active{					/*Rebecca Sherwin*/	
	background-color:#999;
	color: #E8E8E8;
}

@media screen and (min-width: 1200px) { /*https://itnext.io/how-to-build-a-responsive-navbar-using-flexbox-and-javascript-eb0af24f19bf used as reference*/

.navbar {						/*Rebecca Sherwin*/	
	list-style-type: none;
	display: flex;
	justify-content:space-between;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-image: linear-gradient(260deg, #91b3c0 0%, #c9bfe0 100%); 
	font-family: Verdana;
	text-align: center;
	color:black;
	font-weight: bold;
}


li {						/*Rebecca Sherwin*/	
	text-align: center;
	color:black;
	position: relative;
}

li a {						/*Rebecca Sherwin*/	
	display:block;
	color:black;
	text-align: center;
	text-decoration: none;
}


li a:hover {					/*Rebecca Sherwin*/	
	background-color:#C4E2F6;  
	color:#911F07;
	font-weight:900;
}
}



.tablink {				/* Craig Harding*/
  background-color: #555;
  color: white;
  float: left;
  border: 2px;
  outline: none;
  cursor: pointer;
  padding: 5px 7px;
  /*padding: none;*/
  font-size: 18px;
  width: 25%;
}


/* Change background color of buttons on hover */	/* Craig Harding*/
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */	/* Craig Harding*/
.tabcontent {
  color: white;
  /* display: none; */
  display: fadeIn();
  padding: 10px; /*was 50*/
  justify-content: left; /*centre*/
  text-align: center; /*centre*/
  height: 75%;
	 
}
/* Responsive image element */ 	/*Priyanka*/	
.responsive {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Default Style for each tab background colour content individually */ /* Craig Harding*/

#Animal1 {background-color:#36a899;}
#Animal2 {background-color:green;}
#Animal3 {background-color:blue;}
#Animal4 {background-color:orange;}
/*#Testing {background-color:pink;}*/


.socialmedia{			/*Rebecca Sherwin*/
	 font-family:Arial;
	font-weight:200;
}	

.imgshrink{
	display: block;
	width: 50%;
}
	
.contactback{			/*Rebecca Sherwin*/
	background-image: linear-gradient(white 0%, #5c3fff 100%);
}
.container {					/*https://codepen.io/ssbalakumar/pen/uzDIA used as a template*/
	 font-family:Tahoma;			/*Rebecca Sherwin*/
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:whitesmoke; 			
	margin:0;
	padding:0;
	box-sizing:border-box;
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"],			/*Rebecca Sherwin*/
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
	font-family:Tahoma; 
}

#contact {				/*Rebecca Sherwin*/
	background:#c7dff5;
	padding:25px;
	margin:50px 0;
	border: 1px solid gray;
  	border-radius: 30px;
	
}

#contact h3 {				/*Rebecca Sherwin*/
	color: #e26cff;
	display: block;
	font-size: 30px;
	font-weight: 400;
	font-family: Tahoma;
}

#contact h4 {				/*Rebecca Sherwin*/
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {				/*Rebecca Sherwin*/
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
	
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {		/*Rebecca Sherwin*/
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	padding-right: 0px;
    	width: 338px;
}

#contact textarea {			/*Rebecca Sherwin*/
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="reset"] {			/*Rebecca Sherwin*/
	cursor:pointer;
	width:100%;
	border:none;
	background:#fceeee;
	color:black;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="reset"]:hover {			/*Rebecca Sherwin*/
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
	color: white;
}

#contact button[type="reset"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }		/*Rebecca Sherwin*/

#contact input:focus, #contact textarea:focus {		/*Rebecca Sherwin*/
	outline:0;
	border:1px solid #999;
